* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.react-slider {
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 90%;
}
.react-slider-container {
	font-size: 0;
	left: 0;
	overflow: visible;
	position: relative;
	white-space: nowrap;
}
.react-slider-left, .react-slider-right {
	font-size: 40px;
	margin-top: -25px;
	opacity: 0.3;
	position: absolute;
	top: 50%;
}
.react-slider-left:hover, .react-slider-right:hover {
	cursor: pointer;
	opacity: 0.7;
}
.react-slider-left {
	left: 15px;		
}
.react-slider-right {
	right: 15px;
}
.react-slider .react-slider-container img {
	font-size: 1em;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
}